{% extends "base.html" %}
{% block content %}

<hr>
<h4>Add new retailer:</h4>
<form class="form" action="/retailers" method="post">
    <label for="name"></label>
    <input type="text" name="name" placeholder="Enter retailer name here" id="name">
    <input type="submit" value="Save">
  </form> 
<br>
<br>

<hr>
<br>
<br>
<a href="/transactions">Return to new transaction</a>
<br>
<br>
<hr>
<!-- *************************************************bottom half of html page*************************** -->

<h4>Edit retailer details:</h4>

<div class="list_of_all">

    <h4>Active Retailers</h4>
        {% for retailer in retailers_active %}
            
            <h4>{{retailer.name}} </h4>
                <form action="/retailers/{{retailer.id}}/edit" method="GET">
                <input type="submit" value="Edit">
                </form>
                <form action="/retailers/{{ retailer.id }}/delete" method="POST">
                <input type="submit" value="Delete">
                </form>
          
        {% endfor %}

        <hr>
        <hr>
    <h4>Inactive Retailers </h4>
        {% for retailer in retailers_inactive %}

                <h4>{{retailer.name}}</h4>
                <form action="/retailers/{{retailer.id}}/edit" method="GET">
                <input type="submit" value="Edit">
                </form>
                <form action="/retailers/{{ retailer.id }}/delete" method="POST">
                <input type="submit" value="Delete">
                </form>
          
        {% endfor %}

</div>
  

{% endblock %}
