<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Piggy</title>
</head>

<body>

  <header>
    <h4 id="logo">  <a href="/">piggy logo goes home</h4></a>
      
    <nav>
      <ul class="menu">
        <li><a href="/retailers">Retailers</a></li>
        <li><a href="/labels">Labels</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/">Log Off</a></li>

      </ul>
    </nav>
  </header>

    {% block content %}
    {% endblock %}

</body>
</html>
